<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!-- <link rel="stylesheet" href="./assets/fontawesome/css/all.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>What helping</title>
</head>

<body>
    <div class="container mt-4">
        <div class="header d-flex align-items-center">
            <i class="fa-sharp fa-solid fa-arrow-up arrow-icon arrow-up"></i>
            <h3>What's helping</h3>
        </div>

        <div class="row mt-4 cards">
            <div class="col col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="custom-card-header">
                            <h3>First Reason is that</h3>
                            <i class="fa-regular fa-square-minus"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quibusdam, deserunt. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Fugit dignissimos explicabo fugiat totam,
                            quia, laboriosam culpa eaque repudiandae non sed dolore ut
                            assumenda. Aperiam quod optio tenetur placeat repudiandae quia.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="custom-card-header">
                            <h3>Second Reason is that</h3>
                            <i class="fa-regular fa-square-minus"></i>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                            enim temporibus, praesentium autem, nemo fuga nobis expedita
                            voluptatem aperiam accusamus recusandae repellat? Sit id
                            laboriosam nisi esse illo sequi voluptates.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-4 visualization">
                <div class="progress progress-circle" data-percentage="74">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                        <div>
                            700<br />
                            <span>Good</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a href="/Hurting.html" class="content-card">

                            <div class="header d-flex align-item-center">
                                <i class="fa-sharp fa-solid fa-arrow-down arrow-icon arrow-down"></i>
                                <h3>What's Hurting</h3>
                            </div>
                            <h4>First reason is that</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Pariatur, obcaecati?
                            </p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <a href="/Admin_Score.html">
                <button type="button" class="btn btn-secondary btn-lg">Back</button>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>